*{
  /* border: 1px solid #f0f; */
}

.order-form {
  background: #fff;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #000;
  box-shadow: 2px 2px 4px #000;
  width: 48%;
}

h2 {
  text-align: center;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 100%;
}


h3, h3 + p{
  margin-top: 2rem;
}

h3, h4, h5 {
  text-align: right;
}

h3, h3 + p, h5, h5 + p {
  align-self:  baseline;
}

p {
  padding-left: .25rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  grid-row-gap: .25rem;
  margin-top: 1rem;
}

label {
  text-align: right;
  margin-right: 1rem;
}

button {
  align-self: center;
  width: 150px;
}
