img {
  height: 100%;
  width: 100%;
  align-self: flex-start;
}

h3 {
  line-height: 100%;
  font-size: 1.15rem;
  margin-bottom: .5rem;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));//repeat(3, 1fr)
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 1rem auto;
  padding: 2rem;
  width: 80vw;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 30px #fff, 0 0 20px #fff, 0 0 10px #fff;
  border-radius: 10px;
  text-align: center
}

.brand {
  font-style: italic;
}
.abv-base {
  font-weight: bold;
  color: #d1a102 ;
}

.abv-darker1  {
  font-weight: bold;
  color: #9b7700 ;
}

.abv-darker2  {
  font-weight: bold;
  color: #594400 ;
}

.abv-darker3  {
  font-weight: bold;
  color: #302500 ;
}

.low-pint-alert {
  color: #f00;
}

.hide-button {
  display: none;
}

.show-button {
  display: block;
}

.admin {
   width: 100%;
  display: flex;
  flex: column nowrap;
  justify-content: center;
  align-content: center;
}
